* {
    font-family: 'Trispace', sans-serif;    
    box-sizing: border-box;
}

body {
    background: #5C87CA;
    margin:0;
}

.header{
    background-color: #88abe5;
    text-align: left;
}
.profilepic {
    width: 100px;
    height: 100px;
}
.logo {
    height: 41px;
    width: 127;
    
}
.header a:link, .header a:visited {
    background-color: transparent;
    border-radius: 4px;
    color: black;
    font-size:20px;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.header a:hover, .header a:active {
    background-color:#5c87ca;
}

.preview {
    height: 100%;
    width: 80%;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    transition: 0.5s;
}

.preview:hover {
    width: 82%;
    box-shadow: 5px 10px 8px black;
}

.learnmore {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.secondary {
    color: #bacdec;
    height: 80px;
    width: 200px;
    padding: 20px;
    border: 5px;
    background-color: #88abe5;
}

.tooltipcontainer:hover .tooltip {
    display: block;
}

.tooltip {
    display: none;
    color: white;
    background: black;
    opacity: 0.8;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:132px;
    height:38px;
    border-radius: 5px;
}

.footer {
    background-color: #88abe5;
}

.virco {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    margin:0px;
    text-align: center;
}
